@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face{
    font-family: lovelo;
    src: url(./fonts/lovelo_black-webfont.woff);
}

#homepage{
    background-color: #020211;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#homepageContainer{
    background-color: #fcebe8;
    margin: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#homepageTitle{
    font: normal 900 7em 'lovelo';
    display: flex;
    overflow: hidden;
    min-width: 45%;
    max-width: 45%;
    text-transform: uppercase;
    position: absolute;
    top: 18.5%;
    left: 0;
    margin: 0 29% 0;
    text-align: center;
    opacity: 1;
    z-index: 3;

}

#homepageTitle div{
    color: #020211;
    width: 20%;
    height: 100%;
    opacity: 0;
}

#letter2{
    color: #FC5D41 !important;
    margin: 0 10px 0;
}

@media screen and (min-width: 900px) and (min-height: 700px){
    #homepageTitle{
        top: 35%;
    }
}


#homepageSlogan{
    font: normal normal 0.5em 'Lato';
    position: absolute;
    left: -7.5%;
    bottom: 25%;
    text-transform: uppercase;
    color: #020211;
    letter-spacing: 0.3vw;
    min-width: 20%;
    max-width: 60%;
    min-height: 2%;
    max-height: 3%;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media screen and (max-width: 700px){
        #homepageSlogan{
            left: -15%;
        }
}


@media screen and (max-width: 700px){
    #homepageSlogan{
        left: -15%;
    }
}

@media screen and (max-width: 450px) and (min-height: 600px){
    #homepageSlogan{
        font-size: 0.65em;
    }
}

#createButton, #joinButton{
    font: normal normal 1em 'Lato';
    color: #020211;
    width: 24%;
    height: 10%;
    border: 1px solid #2e2e36;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    position: absolute;
    top: 75%;
    opacity: 0;
    cursor: pointer;
}

#createButton{
    left: 24%;
}

#joinButton{
    right: 24%;
}

@media screen and (max-width: 700px){
    #homepageTitle{
        font: normal 900 3.5em 'lovelo';
        min-width: 60%;
        max-width: 60%;
        margin: 0 20% 0;
        top: 30%;
    }

    #createButton, #joinButton{
        min-width: 50%;
        min-height: 10%;
        max-width: 50%;
        max-height: 10%;
        left: 25%;
        right: 25%;
        outline: none;
    
    }

    #createButton{
        top: 62.5%;
    }

    #joinButton{
        top: 75%;
    }
}


#createRoomContainer, #joinRoomContainer{
    background-color: #040426; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;

}

#createRoomContainer form, #joinRoomContainer{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#crTitle, #jrTitle{
    font: normal normal 4em 'lovelo';
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    min-width: 50%;
    min-height: 10%;
    position: absolute;
    top: 19.5%;
    left: 25%;
}

@media screen and (max-width: 650px){
    #crTitle, #jrTitle{
        font: normal normal 3.5em 'lovelo';
        letter-spacing: 0.25em;
        max-width: 65%;
        min-width: 65%;
        top: 5%;
        left: 17.5%;
    }
}

@media screen and (max-width: 650px) and (max-height: 850px){
    #crUsername{
        top: 40%;
    }
}
#crUsername, #crPassword, #jrUsername, #jrPassword{
    font: normal normal 1.5em 'Lato';
    background-color: transparent;
    letter-spacing: 0.3em;
    outline: none;
    letter-spacing: 0.3em;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding-left: 20px;
    color: #fff;
    min-width: 50%;
    max-width: 50%;
    min-height: 15%;
    max-height: 15%;
    position: absolute;
    left: 25%;
}


#crUsername, #jrUsername{
    top: 35%;
}

#crPassword, #jrPassword{
    top: 55%;
}

@media screen and (max-width: 650px) and (max-height: 850px){
    #crUsername{
        top: 40%;
    }

    #crUsername, #jrUsername, #crPassword, #jrPassword{
        padding-left: 0px;
    }
}


#crValidation, #jrValidation{
    background-color: transparent;
    font: normal normal 1em 'Lato';
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #FC5D41;
    border: 1px solid #FC5D41;
    position: absolute;
    width: 30%;
    height: 10%;
    left: 35%;
    top: 80%; 
    cursor: pointer;
    outline: none;
}

