@font-face{
    font-family: lovelo;
    src: url(./fonts/lovelo_black-webfont.woff);
}
@font-face{
    font-family: lovelo-bold;
    src: url(./fonts/lovelo_line_bold-webfont.woff)
}

@import url('https://fonts.googleapis.com/css?family=Lato');


.App{
    /* overflow-x: hidden; */
    background-color: #fcebe8;
    height: auto;
}

.headerRoom{
    letter-spacing: 0.3em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #040426;
    width: 100vw;
    height: 15vh;
}

.headerRoom ul{
    display: block;
    list-style-type: none;
    /* position: absolute;
    top: 22.5%;
    width: 60%;
    left: 20%; */
    margin-top: 20px;
    padding: 0px;
}

.second-letter{
    display: inline-block;
    color: #FC5D41 !important;
}

.headerRoom ul li:first-child{
    font: normal 100 3em 'lovelo';
    margin-bottom: 3px;
    letter-spacing: 10px;
    padding-left: 20px;
}

.headerRoom ul li:last-child{
    font: normal 200 1.2em 'Lato';
}

.addSongField{
    display: flex;
    font: normal 200 0.7em 'Lato';
    position: absolute;
    top: 35vh;
    right: 10vw;
    width: 15vw;
    height: 7vh;
    outline: none;
    color: #040426;
    border-bottom: 0.5px solid #040426;
}

.addSongField input{
    background-color: transparent;
    letter-spacing: 0.2em;
    border: none;
    width: 90%;
    height: 100%;
    padding-left: 10px;
}

.addSongField p{
    padding-top: 7px;
    font-size: 18px;
    color: #040426;
}

#welcomeOne{
    background-color: rgba(4, 4, 38, 0.25);
    width: 45vw;
    min-height: 20vh;
    padding-bottom: 15px;
    position: absolute;
    top: 20vh;
    left: 10vw;
    letter-spacing: 0.2em;
    padding-bottom: 15px;
}

#welcomeOne ul{
    color: #040426;
    list-style: none;
    width: 100%;
    padding: 0px;
}

#welcomeOne ul li:first-child{
    font: normal 200 1.7em 'Lato';
    text-align: center;
    width: 100%;
    margin: 8% 0 4%;
}

#welcomeOne ul li:nth-child(2), #welcomeOne ul li:nth-child(3), #welcomeOne ul li:nth-child(4){
    font: normal 200 1em 'Lato';
    text-align: left;
    margin: 0 5% 1%;
}

.songSearch{
    color: #040426;

}

.songSearch input{
    outline: none;
}

#enterUsername{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    position: absolute;
    top: 48.5%;
    left: 25%;
    font: normal normal 1.5em 'Lato';
    letter-spacing: 0.3em;
    outline: none;
    color: #ffffff;
    min-width: 50%;
    max-width: 50%;
    min-height: 15%;
    max-height: 15%;
}


#confirmUsername{
    background-color: transparent;
    font: normal normal 1em 'Lato';
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #FC5D41;
    border: 1px solid #FC5D41;
    position: absolute;
    width: 30%;
    height: 10%;
    left: 35%;
    top: 80%; 
    cursor: pointer;
    outline: none;
}

#usernameForm{
    background-color: #040426;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

#content{
    color: #ffffff;
    font: normal normal 3em 'lovelo';
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    min-width: 70%;
    max-width: 70%;
    min-height: 10%;
    margin: 0px auto;
    margin-top: 100px;
}

.search-container{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 40%;
    margin-left: calc(-40%/2);
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    max-height: 283px;
}

.search-results{
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.search-results:hover{
    background-color: aliceblue;
}

.search-image{
    float: left;
}

.videoContainer{
    display: block;
    box-sizing: border-box;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    padding-top: 400px;
}

 .videoContainer iframe {
    width: 896px;
    height: 504px;
 }

.videoNowPlaying{
    margin: 0px auto;
    margin-top: -80px;
    font: normal normal 1em 'Lato';
    letter-spacing: 0.2em;
    color: #040426;
    width: 80%;
}

.videoNowPlayingClient{
    margin: 0px auto;
    margin-top: 330px;
    font: normal normal 1em 'Lato';
    letter-spacing: 0.2em;
    color: #040426;
    width: 80%;
}

.votingContainer{
    margin: 0px auto;
    margin-top: 150px;
    font: normal 100 1em 'Lato';
    letter-spacing: 0.2em;
    color: #040426;
    width: 50%;
    text-align: center;
}

.votingContainerClient{
    margin: 0px auto;
    margin-top: 100px;
    font: normal 100 1em 'Lato';
    letter-spacing: 0.2em;
    color: #040426;
    width: 50%;
    text-align: center;
}

.votingContainer div{
    margin-bottom: 20px;
}

.votingContainerClient div{
    margin-bottom: 20px;
}

.votingContainer button{
    font: normal normal 1em 'Lato';
    letter-spacing: 0.25em;
    border: 2px solid #FC5D41;
    color: #FC5D41;
    outline: none;
    width: 45%;
    margin: 0 27.5% 0;
    padding: 2% 0 2%;
    text-transform: uppercase;
    background-color: transparent;
    
}

.votingContainerClient button{
    font: normal normal 1em 'Lato';
    letter-spacing: 0.25em;
    border: 2px solid #FC5D41;
    color: #FC5D41;
    outline: none;
    width: 45%;
    margin: 0 27.5% 0;
    padding: 2% 0 2%;
    text-transform: uppercase;
    background-color: transparent;
    
}

.tabsContainer{
    margin: 0px auto;
    margin-top: 150px;
    background-color: rgba(4, 4, 38, 0.25);
    width: 80%;
    min-height: 50vh;
}

.tabsContainer Tab{
    cursor: pointer;
}

#tabs ul > li > a{
    background-color: #020211;
    border: 1px solid #FC5D41;
    color: white;
}

#tabs ul > li > a:hover{
    background-color: #262635;
}

#tabs ul > li > a:focus{
    color: rgb(170, 0, 0);
}

#tabs{
    margin: 0px auto;
    margin-top: 200x;
    width: 90%;
}

.songsQueue, .usersRoom{
    margin: 0px auto;
    text-transform: uppercase;
    width: 100%;
    font: normal normal 1.15em 'Lato';
    letter-spacing: 0.2em;
    color: #040426;
    text-align: center;
    margin-top: 20px;
}

.tabsContent div{
    font: normal 200 1em 'Lato';
    letter-spacing: 0.2em;
    color: #040426;
}

.tabsContainer Tab Tab{
    outline: none;
}

.song-list{
    padding-top: 15px;
    border-bottom: 1px solid rgb(138, 138, 138);
}

@media screen and (max-width: 500px){
    .App{
        display: block;
        text-align: center;
    }

    #welcomeOne{
        background-color: rgba(4, 4, 38, 0.25);
        width: 80%;
        min-height: 20vh;
        padding-bottom: 15px;
        position: relative;
        letter-spacing: 0.2em;
        padding-bottom: 15px;
    }

    .addSongField{
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font: normal 200 0.7em 'Lato';
        width: 80%;
        height: 7vh;
        outline: none;
        color: #040426;
        border-bottom: 0.5px solid #040426;
    }
    .search-container{
        width: 80%;
        margin-left: calc(-80%/2);
    }
    .song-list{
        padding-top: 15px;
        border-bottom: 1px solid rgb(138, 138, 138);
    }

    #content{
        font: normal normal 2.75em 'lovelo';
        min-width: 75%;
        max-width: 75%;
        margin-top: 30px;
    }

    #enterUsername{
        top: 45%;
    }

    .headerRoom ul{
        padding: 0px;
    }

    .videoContainer iframe {
        width: 304px;
        height: 171px;
     }

}